#numbers {
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	border: 5px solid;
	border-radius: 10px;
	background-color: white;
	width: 200px;
	height: 250px;
}

#space {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: blue;
    color: white;
    width: 389px;
    height: 60px;
}